.cart-css{
  margin-bottom: 60px;
  .cart-summary-css{
    margin-top: 30px;
    text-align: right;
    width: 50%;
    border-top: 1px solid #cccccc;
  }
  .cart-item-css{
    width: 50%;
    display: flex;
    .column{
      margin-right: 30px;
      &:last-child{
        text-align: right;
        margin-left: auto;
      }
    }
  }
}